.answer__place {
    width: 40px;
    height: 40px;
}

.game__place {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.chance__place {
    z-index: 1051;
}

.color__place {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.module__child {
    font-size: 6rem;
    background-color: transparent;
}

.module__child {
    font-size: 6rem;
    background-color: transparent;
}

.color__body {
    transition: 0.6s;
}